.container
  .row
    %aside.col-md-3
      %h3
        = @user.firstname + " " + @user.lastname
        %br
        %span.glyphicon.glyphicon-envelope
        = mail_to @user.email
        %br
      %h4
        %span.glyphicon.glyphicon-hourglass
        Joined on:
        %br
        = @user.created_at
        %br
      %h4
        %span.glyphicon.glyphicon-signal
        User activity:
        %br
        Products:
        = @user.products.count
        %br
        Reviews:
        = @user.reviews.count
    .col-md-9
      %h2 Latest activity
      - @user.reviews.last(3).each do |review|
        %p= review.created_at
        %blockquote
          %p
            %em= review.content
          - review.rating.times do |n|
            %span.glyphicon.glyphicon-star

