%p#notice= notice

%table.table.table-bordered
  %tr
    %th
      = category.name.capitalize

  - category.products.each do |product|
    %tr
      %td= product.title
      %td= link_to 'Show', category_product_path(category, product)
      - if current_user == product.user || current_user.try(:admin?)
        %td= link_to 'Edit', edit_category_product_path(category, product)
        %td= link_to 'Destroy', category_product_path(category, product), method: :delete, data: { confirm: 'Are you sure?' }
%div.row
  %div.col-md-6.col-md-offset-3
    %h3 New product
    = render 'products/form'

    = link_to 'Edit', edit_category_path(category), class: 'btn btn-primary'
    \|
    = link_to 'Back', categories_path, class: 'btn btn-primary'
