%p#notice= notice
%p#error= flash[:error]
%h3
  %p
    %b Title:
    = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = product.category.name

%p
  %b Average rating
  = product.average_rating

%h3 Reviews:

= render reviews

= render 'reviews/form'


%div.row
  %div.col-md-6.col-md-offset-3
    - if current_user == product.user || current_user.try(:admin?)
      = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'
      \|
    = link_to 'Back', category_products_path, class: 'btn btn-primary'
